{% extends "layout.html" %}
{% block body %}
    <style>
	body{background-color:#fff;}

	</style>
    <div class="col-md-4 col-md-offset-4 col-xs-12">
	
	<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	<span style="text-transform: capitalize;">{{username}}</span>
	<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{{url_for('logout')}}">Log Out</a></li>
	</ul>
	</div>
	<br />
	<p><span style="text-transform: capitalize;">{{username}}</span>,<br /><br />
	You are an awesome person. 
	<br /><br />Our feelings for each other will persist. With each day, I really hope there is a daily refresh batch job which runs and refreshes the persistent feelings with more values.
	<br /><br />Coming to the 14 pages that you wrote to me, it still means a lot to me and will mean a lot for decades to come. I just love every letter, every space, every exclamation, every character and every mark on those pages.
    <br /><br /><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#CC0011"></span>
    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#CC0011"></span>
    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#CC0011"></span>
    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#CC0011"></span>
    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#CC0011"></span>
    <br /><br />I really can't open it up and see it everywhere as I wish, so here it is, right on this page!!! Accessible from anywhere on this earth (as long as there is phone and connectivity).
    <br /><br />
    </p>
	
	<!-- carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>  
     <li data-target="#carousel-example-generic" data-slide-to="5"></li>
     <li data-target="#carousel-example-generic" data-slide-to="6"></li>
     <li data-target="#carousel-example-generic" data-slide-to="7"></li>
     <li data-target="#carousel-example-generic" data-slide-to="8"></li>
     <li data-target="#carousel-example-generic" data-slide-to="9"></li>
     <li data-target="#carousel-example-generic" data-slide-to="10"></li>
     <li data-target="#carousel-example-generic" data-slide-to="11"></li>
     <li data-target="#carousel-example-generic" data-slide-to="12"></li>
     <li data-target="#carousel-example-generic" data-slide-to="13"></li> </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../static/images/1.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="../static/images/2.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="../static/images/3.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
          <img src="../static/images/4.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/5.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/6.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/7.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/8.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/9.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/10.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/11.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/12.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/13.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
    <div class="item">
          <img src="../static/images/14.jpg" alt="...">
            <div class="carousel-caption">
                    ...
                      </div>
                  </div>  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
  <br /><br />
	<!-- carousel ends-->
  
    <!-- comments and post comments section starts -->



    <!-- comments and post comments section ends -->



 <form class="col-md-4 col-md-offset-4 col-xs-12" action="{{ url_for("logout") }}" method="post">
    <button type="submit" class="btn btn-default" >Log Out</button>
  </form><br /><br /><br />

	</div>
  
{% endblock %}
