{% extends "layout.html" %}
{% block body %}
    <style>
	body{background-color:#fff;}
	</style>
    <div class="col-md-4 col-md-offset-4 col-xs-12">
	
	<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	<span style="text-transform: capitalize;">{{username}}</span>
	<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{{url_for('logout')}}">Log Out</a></li>
	</ul>
	</div>
	<br />
	<div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
    <a href="#" class="thumbnail">
        <img src="../static/images/{{ username }}.jpg" alt="{{username}}">
    </a>
    </div>
	</div>
	
	
	
	<p>Hey <span style="text-transform: capitalize;">{{username}}</span>,<br /><br />You know what?<br /><br />What goes on the internet stays on the internet and stays online for ever.
	<br /><br />This site is dedicated for persistence. Lorem Eposom vilder de. blah ing thigers into the from. Please continue to the next page.<br /><br /></p>
	
  <form class="col-md-4 col-md-offset-4 col-xs-12" action="{{ url_for("musings") }}" method="post">
   <button type="submit" class="btn btn-default" >See Next</button>
  </form><br /><br /><br />
	
	</div>
  
{% endblock %}
